/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #585757;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #3498db;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e74c3c;
  }
  
  th {
    background-color: #3498db;
    color: white;
  }
  
  tr:hover {
    background-color: #f0f0f0;
  }
  
  